{% extends "layout.html" %}

{% block heading %}
    Let's get started
{% endblock %}

{% block body %}
    <p>
        Welcome to Novel Novels! To get started, register below.
        <form action="{{ url_for('hello') }}" method="post">
            <input type="text" name="name" placeholder="Username">
            <input type="text" name="password" placeholder="Password">
            <button>Submit</button>
        </form>
    </p>
    <a href="{{ url_for('sign_in') }}">Sign In</a>

{% endblock %}
