{% extends "layout.html" %}

{% block heading %}
    Search
{% endblock %}

{% block body %}
  {% for book in books %}
  <div class = "card">
    <div class = "card-body">
      <h5 class = "card-title">{{book.title}}</h5>
      <h6 class = "card-subtitle">By {{book.author}} </h6>
      <p class = "card-text">Published in {{book.year}}, ISBN: {{book.isbn}}</p>
      <a href="books/{{book.id}}" class = "card-link">More</a>
    </div>
  </div>
  {% endfor %}
  <a href="{{url_for('home')}}">Home</a>
{% endblock %}
